.board-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 64px);
    grid-template-rows: repeat(8, 64px);

    width: fit-content;
    border: 10px solid #4a2417;
    border-radius: 16px;
    overflow: hidden;

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
}

.square {
    width: 64px;
    height: 64px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.square.light {
    background-color: #e5d1b3;
}

.square.dark {
    background-color: #8a4f33;
}

.square.possible-move::after,
.square.hint-path::after,
.square.hint-target::after {
    content: "";
    position: absolute;

    width: 18px;
    height: 18px;
    border-radius: 50%;

    z-index: 2;
}

.square.possible-move::after {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.95);
}

.square.capture-move::after {
    background: rgba(255, 80, 80, 0.9);
    box-shadow: 0 0 14px rgba(255, 80, 80, 1);
}

.square.hint-path::after,
.square.hint-target::after {
    background: rgba(45, 170, 70, 0.85);
    box-shadow: 0 0 14px rgba(45, 170, 70, 0.95);
}

.piece {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.piece.white,
.piece.white_king {
    background-color: #f7f3eb;
    border: 3px solid #b79b7a;
}

.piece.black,
.piece.black_king {
    background-color: #2a1a16;
    border: 3px solid #44251c;
}

.piece.selected {
    border: 3px solid #ffffff;
    box-shadow: 0 0 18px #ffffff;
}

.piece.hint-piece {
    border: 3px solid rgba(45, 170, 70, 0.95);
    box-shadow: 0 0 18px rgba(45, 170, 70, 0.95);
}

.piece.white_king,
.piece.black_king {
    position: relative;
}

.piece.white_king::after,
.piece.black_king::after {
    content: "";
    position: absolute;

    width: 28px;
    height: 28px;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.piece.white_king::after {
    background-color: #2a1a16;
}

.piece.black_king::after {
    background-color: #f7f3eb;
}